    <html>
    <head>
    <meta charset="Utf-8">
      <style type="text/css">
      #container {
        max-width: 800px;
        height: 800px;
        margin-left: 15%;
        background-color:#DFEAFB;

      }
      #bigtable {
        background-color: gray;

      }
      #lefttext {
        background-color:#FFC3C3;

      }

    </style>
    </head>
    <body>
      <table id="bigtable" border="2">
      <tr>
      <td style="min-width:200px; width:15%; background-color:#F7EC8D";><div>
      <div id="result" > <b>{{ left_side }}<br></b></div></div>
      </td>
      <td style="min-width:810px; width:60%; background-color:#A7FBA9;">
          <div id="container"></div>
      </td>

      <td style="min-width:200px; width:25%";>
      <div style="background-color:#8B98F9">
        <b> {{ right1 }} </b><br>
      
      </div>
        <div id="lefttext">
        <b>{{ right2 }}</b><br>
         </div>
      </td>
        </tr>
      </table>
      <script src="..\sigma.js"></script>
      <script src="..\sigma.parsers.json.min.js"></script>
      <div id = "myid2" name="text" style="height:1px; width: 100%; visibility:hidden;">
      {{ graph }}
      </div>
      <script>
       var x = document.getElementById("myid2").innerHTML;
      // document.getElementById("result").innerHTML = x;
        // console.log(x)
    graph = JSON.parse(x)
    s = new sigma({
            renderer: {
              container: 'container',
              type: 'canvas'
        },
            settings: {
                defaultNodeColor: '#ec5148'
            }
    });
    s.graph.clear();
    s.graph.read(graph);
    s.refresh()
    console.log(s)
    </script>
      <p align="center">end  {{ variable1 }}  &copy;</p>
    </body>
    </html>
    